In [21]:
d=1+2+3+4 \
   +5+6+7+1 \
   +2+3+4+5+6 \
   +7+1+2+3 \
   +4+5+6+7
print(d)

84

In [3]:
def ad (a,b):
    """
    This function is adding two variables
    two variables are a & b
    we need to calculate the sum as c
    """
    return a+b
print(ad.__doc__)

    This function is adding two variables
    two variables are a & b
    we need to calculate the sum as c

In [23]:
x = (1 + 2 + 5 + 
    1 + 2 +5)

In [15]:
x = (1 + 2 + 5 \
    + 1 + 2 +5)

In [18]:
x = 1 + 2 + 5 \
    + 1 + 2 +51 
     +2+3+4

IndentationError: unexpected indent (864072672.py, line 3)

In [22]:
x = 1 + 2 + 5 \
    + 1 + 2 +51 \
     +2+3+4

In [24]:
num1= "don"
num2= 'dom'
print(num1,num2)

don dom

In [28]:
x=5
print(x)

5

In [27]:
x=5.4
print(x)

5.4

In [29]:
x=5..4
print(x)

SyntaxError: invalid syntax (485076323.py, line 1)

In [30]:
#mutable_list
fruits = ["bananas", "apple"]
print(fruits)

['bananas', 'apple']

In [31]:
hetero_list = [1, "alice", ["bananas", "apple"] ]
print(hetero_list)

[1, 'alice', ['bananas', 'apple']]

In [32]:
#mutable_list
fruits = ["bananas", "apple", "grapes"]
print(fruits)

['bananas', 'apple', 'grapes']

In [33]:
#immutable_tuple
my_tuple=(1,2,3,4)
print(my_tuple)

(1, 2, 3, 4)

In [36]:
#immutable_tuple
my_tuple=(1,2,3,4,6,9,8)
print(my_tuple)

(1, 2, 3, 4, 6, 9, 8)

In [37]:
hetero_tuple = (1, "alice", ["bananas", "apple"] )
print(hetero_tuple)

(1, 'alice', ['bananas', 'apple'])

In [39]:
hetero_tuple = (1, "alice", ("bananas", "apple") )
print(hetero_tuple)

(1, 'alice', ('bananas', 'apple'))

In [43]:
#mutable
#dictionaries
person= {"name": "Tom", "city": "LA"}
print(person)

{'name': 'Tom', 'city': 'LA'}

In [45]:
hetero_dicitionaries = {"name": "Tom", "city": "LA", (1,2) : [2,4]}
print(hetero_dicitionaries)

{'name': 'Tom', 'city': 'LA', (1, 2): [2, 4]}

In [47]:
print("my name is khan")

my name is khan

In [49]:
name= input("Enter your Name ")
print(f"how are you, {name}")

Enter your Name AKASH
how are you, AKASH